@import "tailwindcss";

:root {
  --bv-black: #000000;
  --bv-white: #ffffff;
  --bv-gray: #f5f6f1;
  --bv-purple: #ce99f2;
  --bv-yellow: #f9fb75;
  --bv-orange: #f99756;
  --bv-cyan: #95e1ed;
}

body {
  background-color: var(--bv-gray);
  color: var(--bv-black);
  font-family: system-ui, -apple-system, sans-serif;
}
